extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content

  include modules/small-block/stack
  include modules/small-block/project
  include modules/small-block/about
  include modules/small-block/requisites