extends template/main

block variables
  - var title = 'Создание сайтов, интернет магазинов, сопровождение и продвижение web проектов любой сложности | Bochkarev Ivan'
  - var pageClass = 'index-page'

block content

  include modules/small-block/stack
  include modules/small-block/project
  include modules/small-block/about
  include modules/small-block/requisites