.about.mb-80.container
  .container-title
    .title--wrap
      h4 Обо мне
  .about--wrap
    p Занимаюсь разработкой web сайтов на CMS MODX Revolution и адаптивной версткой сайтов с использованием Scss, Pug, Gulp, Bootstrap 4. 
    p Являюсь активным участником разработки в Open source проекте 
      a(href="https://github.com/modxcms/revolution", target="_blank", rel="noopener noreferrer") CMS MODX Revolution
      | , а также в качестве переводчика документации и интегратора в 
      a(href="https://github.com/modxorg/Docs", target="_blank", rel="noopener noreferrer") Docs MODX.

