.about.mb-80.container
  .container-title
    .title--wrap
      h4 Обо мне
  .about--wrap
    p Занимаюсь разработкой web сайтов на CMS MODX Revolution и адаптивной версткой сайтов с использованием Scss, Pug, Gulp, Bootstrap 4. 
    p Являюсь активным участником разработки в open source проекте CMS MODX Revolution, а также как интегратов в Docs MODX.

