.prices.mb-80.container
  .container-title
    .title--wrap
      h4 Цены
  .prices--wrap
    .price--item
      .price--item__title Landing Page
      .price--item__cost 
        span от
        | 40 000
        span.ruble &#8381;
    .price--item
      .price--item__title Корпоративный сайт
      .price--item__cost 
        span от
        | 60 000
        span.ruble &#8381;
    .price--item
      .price--item__title Интернет магазин
      .price--item__cost 
        span от
        | 80 000
        span.ruble &#8381;
    .price--item
      .price--item__title Сопровождение
      .price--item__cost 
        | 600
        span.ruble &#8381;/
        span час
