.project.container
  .project--wrap
    a.project-link(href='https://ulkurort.ru/' rel='nofollow' target='_blank')
      .project-link--title Ульяновсккурорт
      .project-link--open
        span www
    .project--description
      | Задача: на базе существующего сайта созданного на CMS MODX Revolution c сохранением контента интегрировать новый дизайн и новый функционал.
    .project--image
      a(href='http://' target='_blank' rel='noopener noreferrer', aria-label="name project")
        img(src='static/images/content/project/ulkurort.png' alt='Ульяновсккурорт')
    .project--footer
      .project--made
        span Сделано:
        | Backend, MODX Revolution, Fenom