.project.container
  .project--wrap
    a.project-link(href='#' rel='nofollow' target='_blank')
      .project-link--title Name project
      .project-link--open
        span W
    .project--description
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae, ea ipsum commodi minus consequatur sunt aperiam neque harum dolore ullam temporibus provident blanditiis ducimus quisquam! Sequi tempora nemo dolore
    .project--image
      a(href='http://' target='_blank' rel='noopener noreferrer', aria-label="name project")
        img(src='static/images/logo-blank.png' alt='')
    .project--footer
      .project--made
        span Сделано:
        | modx revolution, fenom
.project.container
  .project--wrap
    a.project-link(href='#' rel='nofollow' target='_blank')
      .project-link--title Name project
      .project-link--open
        span W
    .project--description
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae, ea ipsum commodi minus consequatur sunt aperiam neque harum dolore ullam temporibus provident blanditiis ducimus quisquam! Sequi tempora nemo dolore
    .project--image
      a(href='http://' target='_blank' rel='noopener noreferrer', aria-label="name project")
        img(src='static/images/logo-blank.png' alt='')
    .project--footer
      .project--made
        span Сделано:
        | modx revolution, fenom