.project.container
  .project--wrap
    a.project-link(href='https://cat-71.ru' rel='nofollow' target='_blank')
      .project-link--title СпецАвтоТехника
      .project-link--open
        span www
    .project--description
      | Задача: на базе CMS MODX Revolution разработать корпоративный сайт.
    .project--image
      a(href='http://' target='_blank' rel='noopener noreferrer', aria-label="name project")
        img(src='static/images/content/project/cat-71.png' alt='СпецАвтоТехника')
    .project--footer
      .project--made
        span Сделано:
        | Backend, MODX Revolution, Fenom

.project.container
  .project--wrap
    a.project-link(href='https://niks-m.com/windows-new/' rel='nofollow' target='_blank')
      .project-link--title Никс-М
      .project-link--open
        span www
    .project--description
      | Задача: сверстать Landing page и интегрировать в существующий сайт созданный на базе CMS MODX Revolution с добавлением мультиязычности.
    .project--image
      a(href='http://' target='_blank' rel='noopener noreferrer', aria-label="name project")
        img(src='static/images/content/project/niks-m.png' alt='Никс-М')
    .project--footer
      .project--made
        span Сделано:
        | Backend, MODX Revolution, Fenom, адаптивная верстка

.project.container
  .project--wrap
    a.project-link(href='https://ulkurort.ru/' rel='nofollow' target='_blank')
      .project-link--title Ульяновсккурорт
      .project-link--open
        span www
    .project--description
      | Задача: на базе существующего сайта созданного на CMS MODX Revolution c сохранением контента интегрировать новый дизайн и новый функционал.
    .project--image
      a(href='http://' target='_blank' rel='noopener noreferrer', aria-label="name project")
        img(src='static/images/content/project/ulkurort.png' alt='Ульяновсккурорт')
    .project--footer
      .project--made
        span Сделано:
        | Backend, MODX Revolution, Fenom