.requisites.mb-80.container
  .container-title
    .title--wrap
      h4 Реквизиты
  .requisites--wrap
    .requisite-item
      span Наименование:  
      | ИП БОЧКАРЕВ ИВАН СЕРГЕЕВИЧ
    .requisite-item
      span ИНН: 
      | 541552506206
    .requisite-item
      span ОГРНИП: 
      | 319554300030962
    .requisite-item
      span Расчетный счет:  
      | 40802810900001038417
    .requisite-item
      span Банк:  
      | АО «Тинькофф Банк»
    .requisite-item
      span Корр. счет банка: 
      | 30101810145250000974
    .requisite-item-ya
      span Яндекс.Деньги: 
      a(href="https://money.yandex.ru/to/410013518673995", target="_blank", rel="noopener noreferrer") 410013518673995
