.stack.container
  .container-title
    .title--wrap
      h4 Технологии
  .stack--wrap
    .stack-item
      .stack-item-title Использую в работе:
      .technology--wrap
        .technology--item Gulp
        .technology--item Aдаптивная верстка
        .technology--item SCSS
        .technology--item Pug
        .technology--item Bootstrap 4
        .technology--item NPM
        .technology--item Git
        .technology--item Flexbox
        .technology--item JS
        .technology--item CMS MODX Revolution 
        .technology--item MySQL
        .technology--item Fenom