header.header {
  margin-bottom: 214px;

  .header--top {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
    justify-content: space-between;

    a {
      font-size: 25px;
      line-height: 30px;
    }

    .col-email {
      order: 1;
      width: 50%;
    }

    .col-phone {
      order: 2;
      width: 33.4%;
      padding-left: 10px;
    }

    .col-links {
      order: 3;
      width: 16.6%;
      position: relative;

      svg {
        position: absolute;
        top: 0;
        right: 0;

        path {
          fill: white;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .header--bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo {
      width: 50%;
      padding-right: 50px;
    }

    .about--wrap {
      width: 50%;

      .title {
        span {
          font-size: 55px;
          line-height: 70px;
          color: $red;
        }
      }
    }
  }
}